*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm
/Makefile
/Makefile.in
/.projectile
/aclocal.m4
autom4te.cache/
build-aux/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/libtool
/stamp-h1
/doc/Makefile
guile-nacl/.deps/
guile-nacl/.libs
/guile-nacl/Makefile
/guile-nacl/Makefile.in
/guile-nacl/guile-nacl.x
/guile-nacl/libguile-nacl.la
/guile-nacl/libguile_nacl_la-guile-nacl.lo
/guile-nacl/libguile_nacl_la-guile-nacl.o
/nacl/Makefile
/nacl/Makefile.in
/env
/tests/Makefile
/tests/Makefile.in
/doc/Makefile.in
/nacl/config.scm
